.DS_Store

HY-CS-main.bbl
HY-CS-main.bcf
HY-CS-main.blg
HY-CS-main.pdf
HY-CS-main.toc
*.aux
*.synctex.gz
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
plots/pdfa.xmpi
thesis.bib.bak
thesis.bib.sav
colloquium/colloquium.bbl
colloquium/colloquium.bcf
colloquium/colloquium.blg
colloquium/colloquium.pdf
colloquium/colloquium.toc
colloquium/colloquium.nav
colloquium/colloquium.snm
